<div class="hero min-h-screen" style="background-image: url('<%= asset_path 'top.jpg' %>')">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">ようこそ</h1>
      <p class="mb-1">診断はあなたのホテル探しの手間を省く手助けをします。</p>
      <p class="mb-5">AccoMemoriesはホテル宿泊の体験を記録しユーザー同士で　共有できるサービスです。</p>
      <button class="btn btn-primary">
        <%= link_to "診断する", "#" %>  
      </button>
      <button class="btn btn-primary">
      <%= link_to "AccoMemories", "#" %>  
    </button>
    </div>
  </div>
</div>